<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn How To Play Hockey From A Former NHLer!</h1>
    <br />
    <h2>I'm Stanley Cup Champion, Bobby.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Incredible Classes</h3>
    <br />
    <p>Learn from any of our renowned instructors, with classes for any skill level.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Ready When You Need It</h3>
    <br />
    <p>When you sign up, you will have access to all of our videos, letting you learn what you need to learn, when you need to learn it.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Sign Up Today</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>